* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow-x: hidden;
}

.top-container {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 300vw;
    height: auto;
    object-fit: cover;
}

.main{
    height: 100vh;
    width: 300rem;
    object-fit: cover;
    position: relative;
    margin-top: -5.2rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.places-title {
    text-align: center;
    font-size: 8em;
    position: relative;
    color: #939393;
    margin-top: 0%;
}
.blog-container-main {
    width: 80vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    padding: 0.5rem 0;
    gap: 0.5rem;
    margin-bottom: 5rem;
}

.blog-item {
    width: calc(33.33% - 1rem);
    max-width: 400px;
}

.top-img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.location-container{
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: #F0EFEF;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.location-pin{
    width: 3vw;
    height: 5vh;
}

.location-text-main{
    font-size: 1.5em;
    font-weight: 600;
}